.catalog-main__wrapper {
  background-color: #f1f1f1;
}

.catalog-main__container {
  display: flex;
}

.catalog-main__title {
  margin: 70px auto;
  margin-bottom: 77px;
  display: inline-block;
  font-size: 27px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .catalog-main__wrapper {
    margin-top: -42px;
  }

  .catalog-main__container {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 24px;
      background-image: url("../img/bg-zigzag-fill.svg");
      background-size: auto 24px;
      background-position: -3px center;
    }
  }

  .catalog-main__title {
    margin-top: 95px;
    margin-bottom: 93px;
    font-size: 43px;
    line-height: 50px;
  }
}

@media (min-width: $desktop-width) {
  .catalog-main__title {
    margin-bottom: 121px;
    font-size: 53px;
    line-height: 57px;
  }

  .catalog-main__container {
    &::after {
      height: 34px;
      background-size: 1150px 34px;
    }
  }
}
