.container {
  margin: 0 auto;
  width: 320px;
  box-sizing: border-box;
  padding-left: 30px;
  padding-right: 30px;
}

@media (min-width: $tablet-width) {
  .container {
    width: $tablet-width;
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (min-width: $desktop-width) {
  .container {
    width: $desktop-width;
    padding-left: 100px;
    padding-right: 100px;
  }
}
