.features {
  padding-top: 28px;
  padding-bottom: 28px;
  background-color: #ffffff;
}

.features__title {
  margin: 0;
  margin-bottom: 2px;
}

.features__list {
  margin: 0;
  padding: 0;
  list-style: none;
  color: #000000;
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
}

.features__list-item {
  position: relative;
  padding-top: 83px;

  &::before {
    content: "";
    position: absolute;
    top: 31px;
    left: 0;
    width: 55px;
    height: 37px;
    background-repeat: no-repeat;
  }

  &--eco::before {
    background-image: url("../img/icon-feature-flower.svg");
    background-size: 33px 38px;
    background-position: 8px bottom;
  }

  &--scandi::before {
    background-image: url("../img/icon-feature-money.svg");
    background-size: 47px 28px;
    background-position: left top;
  }

  &--likes::before {
    background-image: url("../img/icon-feature-heart.svg");
    background-size: 35px 28px;
    background-position: 7px 50%;
  }

  &--handmade::before {
    background-image: url("../img/icon-feature-ball.svg");
    background-size: 35px 35px;
    background-position: 3px 50%;
  }

  &--domestic::before {
    left: -5px;
    background-image: url("../img/icon-feature-rocket.svg");
    background-size: 55px 24px;
    background-position: left 3px;
  }

  &--gift::before {
    background-image: url("../img/icon-feature-gift.svg");
    background-size: 33px 33px;
    background-position: 3px top;
  }
}

.features__description {
  margin: 0;
}

@media (min-width: $tablet-width) {
  .features {
    padding-top: 47px;
    padding-bottom: 76px;
  }

  .features__title {
    margin-bottom: 0;
  }

  .features__list {
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
    line-height: 22px;
  }

  .features__list-item {
    width: 300px;
    box-sizing: border-box;
    margin-right: 33px;
    margin-bottom: 6px;
    padding-top: 105px;

    &:nth-child(2),
    &:nth-child(5) {
      order: 2;
    }

    &:nth-child(3),
    &:nth-child(6) {
      order: 3;
    }

    &::before {
      top: 50px;
    }
  }
}

@media (min-width: $desktop-width) {
  .features {
    padding-top: 54px;
    padding-bottom: 83px;
  }

  .features__title {
    margin-left: 172px;
  }

  .features__list {
    margin-left: 175px;
  }

  .features__list-item {
    margin-right: 50px;
  }
}
