.form {
  padding-top: 22px;
  padding-bottom: 55px;
}

::-webkit-contacts-auto-fill-button {
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  right: 0;
}

.form__text {
  margin: 0;
  margin-bottom: 24px;
  color: #444444;
  font-size: 13px;
  line-height: 24px;
}

.form__group {
  padding: 0;
  margin: 0;
  margin-bottom: 19px;
  border: none;

  &--color {
    margin-bottom: 18px;
  }

  &--user-name {
    margin-bottom: 8px;
  }

  &--user-contact {
    margin-bottom: 32px;
  }

  &--user-message {
    margin-bottom: 12px;
  }
}

.form__legend {
  position: relative;
  margin-bottom: 34px;
  display: block;
  text-transform: uppercase;
  color: #63d1bb;
  font-weight: 700;
  line-height: 16px;

  &--color {
    margin-bottom: 34px;
  }

  &--user-name {
    margin-bottom: 30px;
  }

  &--tel {
    margin-bottom: 8px;
  }

  &--email {
    margin-bottom: 8px;
  }

  &--user-message {
    margin-bottom: 25px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 7px;
    left: 62px;
    width: 198px;
    height: 1px;
    background-color: #62d1ba;
  }
}

.form__label {
  display: block;
  margin-bottom: 25px;
  font-size: 17px;
  font-weight: 700;
  line-height: 16px;

  &--color {
    margin-bottom: 43px;
  }

  &--color:last-child {
    margin-bottom: 25px;
  }

  &--user-name {
    margin-bottom: 23px;
  }
}

.form__label-text {
  position: relative;
  display: block;
  padding-left: 62px;
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  cursor: pointer;
}

.form__input-radio + .form__label-text::before {
  content: "";
  position: absolute;
  top: -9px;
  left: 0;
  width: 40px;
  height: 40px;
  box-sizing: border-box;
  border: 2px solid #444444;
  border-radius: 50%;
}

.form__input-radio:checked + .form__label-text::after {
  content: "";
  position: absolute;
  left: 12px;
  top: 3px;
  width: 16px;
  height: 16px;
  background-color: #62d1ba;
  border-radius: 50%;
}

.form__input-checkbox + .form__label-text::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  width: 40px;
  height: 39px;
  box-sizing: border-box;
  border: 2px solid #444444;
}

.form__input-checkbox:checked + .form__label-text::after {
  content: "";
  position: absolute;
  left: 8px;
  top: 2px;
  width: 22px;
  height: 16px;
  background-image: url("../img/icon-tick.svg");
  background-size: 22px 16px;
  background-repeat: no-repeat;
}

.form__label:hover .form__label-text::before,
.form__input:focus + .form__label-text::before {
  border-color: #62d1ba;
}

.form__label:active .form__label-text::before {
  border-color: rgba(68, 68, 68, 0.3);
}

.form__label--user-name .form__label-text {
  padding-left: 0;
}

.form__text-input {
  width: 100%;
  padding-top: 16px;
  padding-bottom: 15px;
  box-sizing: border-box;
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
  border: none;
  border-bottom: 2px solid #000000;

  &--tel {
    margin-bottom: 32px;
  }

  &:hover,
  &:active,
  &:focus {
    border-color: #62d1ba;
    outline: none;
  }
}

.form__user-message {
  margin: 0;
  padding: 15px;
  box-sizing: border-box;
  font-family: inherit;
  height: 142px;
  width: 100%;
  font-size: 17px;
  line-height: 18px;
  border: 2px solid #000000;
  resize: none;

  &:hover,
  &:active,
  &:focus {
    border-color: #62d1ba;
    outline: none;
  }
}

.form__note {
  margin: 0;
  margin-bottom: 30px;
  color: #444444;
  font-size: 14px;
  line-height: 16px;
}

.form__group--user-contact .form__container {
  position: relative;
}

.form__icon {
  position: absolute;
  fill: #000000;
  opacity: 0.2;

  &--tel {
    top: 35px;
    right: 38px;
  }

  &--email {
    top: 141px;
    right: 35px;
  }
}

.form__text-input:hover + .form__icon,
.form__text-input:active + .form__icon,
.form__text-input:focus + .form__icon {
  fill: #62d1ba;
  opacity: 1;
}

@media (min-width: $tablet-width) {
  .form {
    padding-top: 59px;
    padding-bottom: 39px;
  }

  .form__text {
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 55px;
  }

  .form__group {
    padding-top: 48px;
    padding-bottom: 26px;
    margin-bottom: 0;

    &--color {
      background-color: #f1f1f1;
      padding-bottom: 25px;
    }

    &--type {
      padding-top: 0;
    }

    &--user-contact {
      background-color: #f1f1f1;
      padding-bottom: 50px;
      padding-top: 49px;
    }

    &--user-name {
      padding-bottom: 28px;
    }

    &--user-message {
      padding-top: 50px;
    }
  }

  .form__container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
    padding-left: 217px;
  }

  .form__group--color .form__container {
    flex-direction: row;
    justify-content: space-between;
  }

  .form__legend {
    position: absolute;
    top: 20px;
    left: 50px;

    &--email {
      top: 95px;
    }

    &::after {
      display: none;
    }
  }

  .form__label {
    min-height: 52px;

    &--color {
      margin-bottom: 25px;
      width: 48%;
    }
  }

  .form__group--user-name .form__label {
    display: flex;
    width: 505px;
  }

  .form__label-text {
    display: inline-block;
    margin-right: 0;
    padding-left: 82px;
    line-height: 52px;
    vertical-align: middle;
    font-size: 19px;
  }

  .form__label--user-name .form__label-text {
    margin-right: 25px;
  }

  .form__input-radio + .form__label-text::before {
    top: 2px;
    width: 52px;
    height: 52px;
  }

  .form__input-radio:checked + .form__label-text::after {
    left: 15px;
    top: 17px;
    width: 22px;
    height: 22px;
  }

  .form__input-checkbox + .form__label-text::before {
    top: 2px;
    left: 0;
    width: 54px;
    height: 52px;
  }

  .form__input-checkbox:checked + .form__label-text::after {
    left: 11px;
    top: 17px;
    width: 33px;
    height: 22px;
    background-size: 33px 22px;
  }

  .form__text-input {
    padding-left: 16px;
    padding-top: 15px;
    padding-bottom: 14px;
    flex-grow: 2;
    box-sizing: border-box;
    font-size: 19px;

    &--tel {
      margin-bottom: 23px;
    }
  }

  .form__group--user-contact .form__text-input {
    background-color: #f1f1f1;
  }

  .form__user-message {
    font-size: 19px;
    height: 142px;
  }

  .form__footer {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 27px;
  }

  .form__note {
    order: 2;
    font-size: 17px;
    line-height: 17px;
  }

  .form__button {
    width: 230px;
  }

  .form__icon {
    &--tel {
      top: 15px;
      right: 76px;
    }

    &--email {
      top: 90px;
      right: 72px;
    }
  }
}

@media (min-width: $desktop-width) {
  .form {
    padding-top: 104px;
  }

  .form__group {
    &--type {
      padding-bottom: 24px;
    }

    &--color {
      padding-bottom: 26px;
    }

    &--user-name {
      padding-right: 0;
    }
  }

  .form__text {
    margin-left: 175px;
    margin-right: 165px;
  }

  .form__container {
    padding-left: 275px;
    padding-right: 275px;
  }

  .form__group--color .form__container {
    padding-right: 170px;
    justify-content: flex-start;
  }

  .form__legend {
    left: 162px;
  }

  .form__group--color .form__label {
    width: 32.5%;
  }

  .form__group--user-name .form__label {
    width: 700px;
    box-sizing: border-box;
  }

  .form__footer {
    padding-top: 23px;
    padding-left: 275px;
    padding-right: 275px;
  }

  .form__icon {
    &--tel {
      right: 283px;
    }

    &--email {
      right: 280px;
    }
  }
}
