.page-footer {
  background-color: #f1f1f1;
}

.page-footer__wrapper {
  padding: 25px 30px;
}

.page-footer__logo {
  display: none;
}

@media (min-width: $tablet-width) {
  .page-footer__wrapper {
    padding: 53px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .page-footer__social {
    margin-left: 76px;
  }

  .page-footer__logo {
    display: block;
    cursor: pointer;
  }

  .page-footer__logo-image {
    fill: #000000;
  }

  .page-footer__logo:hover .page-footer__logo-image {
    fill: #46c1ae;
  }

  .page-footer__logo:active .page-footer__logo-image {
    opacity: 0.3;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__wrapper {
    padding-left: 100px;
    padding-right: 100px;
  }
}
