.promo-list {
  display: none;
}

@media (min-width: $desktop-width) {
  .promo-list {
    display: flex;
    order: 4;
    padding: 0;
    padding-left: 50px;
    padding-top: 17px;
    margin: 0;
    list-style: none;
    color: #000000;
    font-size: 15px;
    font-weight: 700;
    line-height: 24px;
  }

  .promo-list__item {
    margin-right: 62px;
  }

  .promo-list__item-link {
    display: inline-block;
    color: #000000;
    text-decoration: none;
  }

  .promo-list__item-link[href] {
    &:hover {
      color: rgba(0, 0, 0, 0.6);
    }

    &:active {
      color: rgba(0, 0, 0, 0.3);
    }
  }
}
